*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.debug .d-sidebar , .c-sidebar{
    background-color: aqua;
}
.debug .d-menu , .c-menu{
    background-color: beige;
}
.debug .player{
    border: 1px solid green;
}
.debug .resume{
    border:2px dashed red;
}
.debug .col-2{
    border: 2px dashed blue;
}



/*site color*/
:root{
    --sidebar:#000000;
    --topmenu:#080B12;
    --mainmenu:#141922;
    --player:#282828;
    --textgray:#A3A3A3;
    --textwhite:#ffffff;
    --playergray: #c1c1c1;
}
/*end site color*/


/*common rule*/
main{
  height: 100vh; 
  position:relative;     
}
.col-2{
    width: calc(100%/12*2);
    min-height: 80px;
    min-width: 80px;
    padding:0.5rem;
    text-align: center;
}
img{
    height: 100%;
    width: 100%;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
/*end common rule*/

/*Sidebar*/
.c-sidebar{
    height: calc(100% - 60px);
    width:60px;    
}
.c-logo{
    display: none;    
}
.d-logo{
    height: 30px;
    width: 30px;
    padding:0.25rem;
    display: block;
}
.upper-menu{
    display: flex;
    flex-direction: column;    
}

.c-home{
    display: none;
}
.d-home{
    display: flex;
    flex-direction: column;
    align-content: center;

}
.d-home li{
    height: 30px;
    width: 30px;
    text-align: center;
}

.playlist{
    display:none;
}

.d-app-download{
    display:none;
}
.c-app-download{
    display:block;
    text-align: center;
}
/*end sidebar*/

/*Menu*/
.c-menu{
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    position: absolute;
    top:0;
    right: 0;
    overflow-y: auto;
}
.top{    
    width: 100%;
    background-color: var(--topmenu);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.upgrade{
    height: 40px;
    width: 170px;
    color:white;
    border-radius: 5rem;
    border: 1px solid white; 
    padding:0.5rem;
    margin: 15px;
    background-color: black;
}
.upgrade:hover{
    transform: scale(1.1);
}

.bottom{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.selector{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color:var(--textgray);
}
.selector > li{
    margin: 0 1rem;
}
.resume{
    height:100%;
    width:95%;
    margin-left: 1rem;
    margin-right: 2rem;
}
.card{
    position:relative;
}
.push{
    position:absolute;
    top:50%;
    left:50%;
    display: block;    
}


.font-style{
    color:white;
    font-size:xx-large;
    font-weight:bolder;
}

.recently-played{

}
/*end menu*/

/*Player*/
.player{
    height: 60px;
    width: 100%;
    position: fixed;
    bottom:0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.left , .right{
    display: flex;
    align-items: center;
    margin: 1rem;
}

.on-play-sm{
    height: 20px;
    width: 20px;
}
.on-play-sm > img{
    height: 100%;
}
.on-play > h3 , p{
    margin-left: 0.5rem;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.play-button{
    display: flex;
    justify-content: space-evenly;
    color:var(--textwhite)
}
.play-line{
    display: flex;
    align-items: center;    
}
.white-line{
    width: 100px;
    height:4px;
    background-color: var(--playergray);
    margin: 0 0.5rem;
    border-radius: 5px;
}
.grey-line{
    width: 60px;
    height:4px;
    background-color: var(--mainmenu);
    border-radius: 5px;
}


.volume{
    display: flex;
    align-items: center;
}
.right a {
    margin: 0 0.5rem;
}
.volume-bar{
    width: 50px;
    height:2px;
    background-color: var(--playergray);
    margin: 0 0.5rem;
    border-radius: 5px;
}
.volume-level{
    width: 20px;
    height: 2px;
    background-color: var(--mainmenu);
    border-radius: 5px;
}
/*end player*/
@media  screen and (min-width:480px) {
/*Responsive sidebar*/
.d-sidebar{
    height: calc(100% - 60px);
    width: 200px; 
}

.c-logo{
    width: 120px;
    height: 40px;
    display: block;
    margin: 0.5rem 0.75rem;
   }
.d-logo{
    display: none;
   }

.home{
    display: block;
    color:var(--textgray);
}

.playlist{
    display:block;
    color: var(--textgray);
}
.playlist li{
    margin: 1rem;
}
.playlist h3{
    margin: 1rem;
}

.d-app-download{
    display:flex;
    align-items: center;
    margin: 0.5rem 0.75rem;
    color: var(--textgray);
}
.d-app-download span{
    margin: 0rem 0.5rem;
}
   
.c-app-download{
    display:none;
   }
/*end responsive sidebar*/

/*responsive menu*/
.d-menu{
    height:calc(100% - 60px);
    width: calc(100% - 200px);
    position: absolute;
    top:0;
    right: 0;
    overflow-y: auto;

}
/*end responsive menu*/
    
}