*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.debug .d-sidebar , .c-sidebar{
    background-color: aqua;
}
.debug .d-menu , .c-menu{
    background-color: beige;
}
.debug .player{
    border: 1px solid green;
}
.debug .d-resume {
    border:2px dashed red;
}
.debug .col-2{
    border: 2px dashed blue;
}
.debug .circle{
    border:2px solid brown;
}



/*site color*/
:root{
    --sidebar:#000000;
    --topmenu:#080B12;
    --mainmenu:#141922;
    --player:#282828;
    --textgray:#A3A3A3;
    --textwhite:#ffffff;
    --playergray: #c1c1c1;
}
/*end site color*/


/*common rule*/
main{
  height: 100vh; 
  position:relative; 
  font-family: 'Montserrat', sans-serif;
    
}
li{
    list-style: none;    
}

a{
    text-decoration: none;
    color: var(--textgray);
}

button{
    border: none;
    color: transparent;
}
.col-6{
    width: 50%;
    min-height: 80px;
    min-width: 80px;
    padding:0.5rem;
    text-align: center;
}
img{
    height: 100%;
    width: 100%;
}
.row{
    display:flex;
    flex-wrap: wrap;
    margin:1rem 0;
}
h1{
    color:var(--textwhite);
    font-weight: bolder;
}
h2{
    color: var(--textwhite);
    font-weight: bolder;
    font-size: small;
}
/*end common rule*/

/*Sidebar*/
.c-sidebar{
    height: calc(100% - 60px);
    width:40px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--sidebar); 
    overflow-y: hidden;  
}
.c-logo{
    display: none;    
}
.d-logo{
    height: 35px;
    padding:0.25rem;
    display: block;
    text-align: center;
}
.upper-menu{
    display: flex;
    flex-direction: column;    
}

.d-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.c-home{
    display: none;
}



.playlist{
    display:none;
}

.d-app-download{
    display:none;
}
.c-app-download{
    display:block;
    text-align: center;
}
.download-simbol{
    width: 20px;
    height: 20px;
}

.user-button{
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--playergray);
}
/*end sidebar*/

/*Menu*/
.c-menu{
    height: calc(100% - 60px);
    width: calc(100% - 40px);
    position: absolute;
    top:0;
    right: 0;
    overflow-y: auto;
    background-color: var(--mainmenu);
}
.top{    
    width: 100%;
    background-color: var(--topmenu);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.upgrade{
    height: 40px;
    width: 180px;
    color:var(--textwhite);
    border-radius: 5rem;
    border: 1px solid white; 
    padding:0.25rem 0.5rem;
    margin: 15px;
    background-color: black;
    font-weight: bold;
    font-size: x-small;
}
.upgrade:hover{
    transform: scale(1.1);
}

.c-bottom{
    width: 70%;
    margin: auto;    
}
.selector{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color:var(--textgray);
    font-size: x-small;
    font-weight: bold;
}
.selector > li :hover{
    color: var(--textwhite);
}
.selector > li{
    margin: 0 0.5rem;
    
}
.selector > li > a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.under-line{
    height:5px;
    width: 40px;
    border-radius: 5rem;
    background-color: greenyellow;
}

.c-resume{
    width: 95%;
    height: 100%;
    margin-left: 1rem;
    margin-right: 2rem;
}

.recently-played , .collection-create , .collection-popular{
    margin: 1rem 0;
}
.card{
    position:relative;
}
.card > span{
    color: var(--textgray);
    font-weight: bold;
    font-size: small;
}
.collection-create > span{
    color: var(--textgray);
    font-weight: bold;
    font-size:smaller;
}
.collection-popular > span{
    color: var(--textgray);
    font-weight: bold;
    font-size:smaller;
}
.push{
    position:absolute;
    color: transparent; 
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -40px;
    min-height: 40px;
    min-width: 40px;
   
}
.push:hover{
   color: white;
}

.circle{
    min-height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.d-user{
    display: none;
}
.c-user{
    display: block;
    text-align: center;
}




/*end menu*/

/*Player*/
.player{
    height: 60px;
    width: 100%;
    position: fixed;
    bottom:0;
    z-index: 1000;
    display: flex;
    background-color: var(--player);
}
.left{
    display: flex;
    align-items: center;
    margin: 1rem;
    flex-grow: 1;
}


.on-play{
    height: 40px;
    width: 40px;
    aspect-ratio: 1;
}
.play-description > h3{
    color: var(--textwhite);
    font-size: smaller;
    font-weight: bolder;
}
.play-description > span{
    color: var(--textgray);
    font-size: smaller;
    font-weight: bolder;
}
.play-description > span:hover{
    text-decoration: underline;
}
.play-description > h3 , span{
    margin-left: 0.5rem;    
}
.left-simbols{
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.left-simbols > a :hover{
    color: var(--textwhite);
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
}
.center span{
    color: var(--textwhite);
}
.play-button{
    display: flex;
    justify-content: space-evenly;
    color:var(--textwhite);
    width: 50%;
    margin: auto;
}
.play-button :hover{
    color: var(--textwhite);
}
.play-line{
    display: flex;
    align-items: center; 
    width: 80%;
    margin: auto;
    justify-content: center;  
}
.white-line{
    width: 0%;
    height:4px;
    background-color: var(--mainmenu);
    border-radius: 5px;
    animation-name: play-song;
    animation-duration: 60s;   
    animation-iteration-count: 3;
}

@keyframes play-song {
    0%    {width: 0%;}
    25%   {width: 25%;}
    50%   {width: 50%;}
    75%   {width: 75%;}
    100%  { width: 100%;}
}
.grey-line{
    width: 100%;
    height:4px;
    background-color: var(--textgray);
    border-radius: 5px;
}
.play-line > span {
    margin:0 0.5rem;
}

.right{
    display: flex;
    align-items: center;
    margin: 1rem;
    flex-grow: 1;
    justify-content: flex-end;
}
.volume{
    display: flex;
    align-items: center;
}
.right a {
    margin: 0 0.5rem;
    font-size: smaller;
}
.right a:hover{
    color: var(--textwhite);
}
.volume-bar{
    width: 50px;
    height:2px;
    background-color: var(--playergray);
    margin: 0 0.5rem;
    border-radius: 5px;
}
.volume-level{
    width: 20px;
    height: 2px;
    background-color: var(--mainmenu);
    border-radius: 5px;
}
/*end player*/
@media  screen and (min-width:480px) {
/*Responsive sidebar*/
.d-sidebar{
    height: calc(100% - 60px);
    width: 200px; 
}

.c-logo{
    width: 120px;
    height: 40px;
    display: block;
    margin: 1rem 0.75rem;
   }
.d-logo{
    display: none;
   }

.c-home{
    display: flex;
    flex-direction: column;
    margin: 0 0.75rem;

}
.c-home li{
    height: 30px;
    width: 30px;
    color:var(--textgray);
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: bolder;
}
.c-home > ul > li > a:hover{
    color:var(--textwhite);
}
.d-home{
    display: none;
}
   
.playlist{
    display:block;    
}
.playlist li{
    margin: 1rem;
    color: var(--textgray);
    font-size: x-small;
    font-weight: bold;
}
.playlist > ul > li > a:hover{
    color:var(--textwhite);
}
.playlist h3{
    margin: 1rem;
    color: var(--textwhite);
}

.add{
    background-color: var(--playergray);
    color: black;
    padding: 0.5rem;
    margin-right: 0.25rem;
}
.fa-solid{
    font-weight: bolder;
}
.create{
    display: flex;
    align-items: center;
}
.crea-playlist{
    font-weight: bold;
    font-size: small;
    color: var(--textgray);
}



.d-app-download{
    display:flex;
    align-items: center;
    margin: 0.5rem 0.75rem;
    
}
.d-app-download a{
    margin: 0rem 0.5rem;
    color: var(--textgray);
    font-weight: bolder;
    font-size: smaller;
}
.d-app-download a:hover{
    color: var(--textwhite);
} 
.c-app-download{
    display:none;
   }
.d-user{
    display: block;
    display: flex;
    align-items: center;
    margin:0.5rem;
}
.John-Doe{
    font-size: medium; 
    font-weight: bolder;
    color: var(--textwhite);
    margin-left: 0.5rem;
}
.c-user{
    display: none;
}
/*end responsive sidebar*/

/*responsive menu*/
.c-menu{
    height:calc(100% - 60px);
    width: calc(100% - 200px);
    position: absolute;
    top:0;
    right: 0;
    overflow-y: auto;
}

.d-bottom{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.col-2{
    width: calc(100%/12*2);
    min-height: 80px;
    min-width: 80px;
    padding:0.5rem;
    text-align: center;
}

.d-resume{
    
    width:100%;
    margin-left:0;
    margin-right:0;
    
}

/*end responsive menu*/
    
}
@media  screen and (min-width:1024px){
    .t-resume{
        width: 95%;
        margin-left: 1rem;
        margin-right:2rem;
    }
}