*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.debug .col-2{
    border:2px dashed red;
    aspect-ratio: 1 / 1;
}


/*site color*/
:root{
    --sidebar:#000000;
    --topmenu:#080B12;
    --mainmenu:#141922;
    --player:#282828;
    --textgray:#A3A3A3;
    --textwhite:#ffffff;
}
/*end site color*/



/*common rule*/
main{
    height: 100vh;
    position: relative;
}

.sidebar-sm{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 60px);
    background-color: var(--sidebar);    
    width: 60px;
    overflow-y: auto;
}
    

.menu-sm{
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    background-color: var(--mainmenu);  
    position: absolute;
    top: 0px;
    right: 0px;
    overflow-y: auto;

}

.player{
    height:60px;
    width: 100%;
    background-color: var(--player);
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}



.col-2{
    width: calc(100%/12*2);
    min-height: 100px;
    padding:0.5rem;
}

/*sidebar*/

.logo{
    display: none;    
}
.logo-small{
    height: 30px;
    width: 30px;
    padding:0.25rem;
    display: block;
}

.upper-menu{
    display: flex;
    flex-direction: column;    
}

.home{
    display: none;
}
.small-home{
    display: flex;
    flex-direction: column;
    align-content: center;

}
.small-home li{
    height: 30px;
    width: 30px;
    text-align: center;
}

.playlist{
    display:none;
}


.app-download{
    display:none;
}
.app-download-small{
    display:block;
    text-align: center;
}

.user{
    display:none;
}
.small-user{
    display:block;
    text-align: center;
    height: 30px;
    width: 30px;
}

/*end sidebar*/

/*menu*/
.top{
    
    width: 100%;
    background-color: var(--topmenu);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.upgrade{
    height: 50px;
    width: 170px;
    color:white;
    border-radius: 5rem;
    border: 1px solid white; 
    padding:0.5rem;
    margin: 15px;
    background-color: black;
}
.upgrade:hover{
    transform: scale(1.2);
}

.bottom{
    margin:auto;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.selector{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color:var(--textgray);
}

.creation , .famous , .recently{
    margin-left: 1rem;
    margin-right: 1.5rem;
}
.recently h1{
    margin-bottom: 1rem;
    color: var(--textwhite);    
} 

.collection-1 , .collection-2 , .collection-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col-2 > img{
    width: 100%;
}


/*end menu*/

/*player*/
.tools{
    display: flex;
    justify-content: space-between;

}

.left , .center , .right{
    display: flex;
    align-items: center;
}
/*end player*/

/*Responsive layout*/
@media  screen and (min-width:480px) {
/*common responsive*/
.sidebar{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    width: 200px;            
} 
.menu {
    width: calc(100% - 200px);
} 
/*end common responsive*/

/*responsive sidebar*/
.logo{
    width: 120px;
    height: 40px;
    display: block;
    margin: 0.5rem 0.75rem;
   }
.logo-small{
    display: none;
   }
.home{
    display: block;
    color:var(--textgray);
}
.home:first-child{
color: var(--textwhite);
}
.home li{
    margin: 1rem;
}
.small-home{
    display: none;
}

.playlist{
    display:block;
    color: var(--textgray);
}
.playlist li {
    margin: 1rem;
}
.playlist h3{
    margin: 1rem;
}

.app-download{
    display:flex;
    align-items: center;
    margin: 0.5rem 0.75rem;
    color: var(--textgray);
}
.app-download span{
    margin: 0rem 0.5rem;
}
   
.app-download-small{
    display:none;
   }
/*end responsive sidebar*/

/*responsive menu*/
.bottom-lg{
    margin:auto;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 2rem;
}   
/*end responsive menu*/
}
@media  screen and (min-width:1024px) {
    .bottom-md {
        margin:auto;
        width: 50%;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}